@font-face {
  font-family: "iconfont"; /* Project id 3479629 */
  src: url('iconfont.woff2?t=1661926226328') format('woff2'),
       url('iconfont.woff?t=1661926226328') format('woff'),
       url('iconfont.ttf?t=1661926226328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianzu1:before {
  content: "\e7f1";
}

.icon-yonghuguanli:before {
  content: "\e7e9";
}

.icon-zhanghaoguanli:before {
  content: "\e7ed";
}

.icon-gengxinshijian1:before {
  content: "\e7e6";
}

.icon-xiajiangjiantou1:before {
  content: "\e7ee";
}

.icon-zengchangjiantou1:before {
  content: "\e7ef";
}

.icon-caidanjiantou-shouqi:before {
  content: "\e7ec";
}

.icon-shuoming:before {
  content: "\e7e4";
}

.icon-caidanjiantou-zhankai:before {
  content: "\e7eb";
}

.icon-gengxinshijian:before {
  content: "\e7e8";
}

.icon-shishi-gaikuang:before {
  content: "\e7ea";
}

.icon-tishishuoming:before {
  content: "\e7e7";
}

.icon-tongji-qufufenxi:before {
  content: "\e7e0";
}

.icon-yunying-wodelianyun:before {
  content: "\e7e1";
}

.icon-yunying-wodeyouxi:before {
  content: "\e7e2";
}

.icon-SDKxiazai:before {
  content: "\e7de";
}

.icon-tianjiayingyong:before {
  content: "\e7df";
}

.icon-guanli-shezhi:before {
  content: "\e7d4";
}

.icon-tongji-gaikuang:before {
  content: "\e7d5";
}

.icon-tongji-liucunfenxi:before {
  content: "\e7d6";
}

.icon-guanggao-guanggaojiance:before {
  content: "\e7d7";
}

.icon-guanli-youxiliebiao:before {
  content: "\e7d8";
}

.icon-wodechanpin-shouquanyouxiliebiao:before {
  content: "\e7d9";
}

.icon-wodechanpin-youxiliebiao:before {
  content: "\e7da";
}

.icon-tongji-qudaofenxi:before {
  content: "\e7db";
}

.icon-tongji-yonghufenxi:before {
  content: "\e7dc";
}

.icon-wodechanpin-youxiqushi:before {
  content: "\e7dd";
}

